@font-face {
  font-family: PT;
  font-display: swap;
  src: url(../fonts/PT-Root-UI_Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: PT;
  font-display: swap;
  src: url(../fonts/PT-Root-UI_Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: PT;
  font-display: swap;
  src: url(../fonts/PT-Root-UI_Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #101722;
  line-height: 1;
  font-family: PT;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: PT;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  line-height: 1.3
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 94.375rem;
  margin: 0 auto;
  padding: 0 1.25rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 1.25rem 1fr minmax(auto,91.875rem) 1fr 1.25rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.menu__header {
  display: none
}
.menu__list {
  position: relative;
  display: flex;
  align-items: center
}
.menu__item {
  font-size: 1.125rem;
  transition: .3s;
  cursor: pointer
}
.menu__item-title:hover {
  color: #5bb318;
  transition: .3s
}
.menu__item:not(:last-child) {
  border-right: 1px solid #dbdbdb
}
.menu__item-icon {
  width: .75rem;
  height: .75rem;
  margin-left: .9375rem;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.menu__item.active .menu__item-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.icon-menu {
  display: none;
  padding: .5625rem;
  border: 1px solid #dbdbdb;
  border-radius: .3125rem;
  line-height: 0
}
.icon-menu svg {
  width: 1.125rem;
  height: 1.125rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
h1 {
  font-weight: 700
}
h2 {
  font-weight: 700
}
h4 {
  font-weight: 700
}
::selection {
  background: #5bb318;
  color: #fff
}
.btn {
  width: 15.625rem;
  padding: 1.25rem;
  font-weight: 700;
  border-radius: 10px;
  text-align: center
}
.btn_green {
  background-color: #5bb318;
  color: #fff
}
.btn_light {
  border: 1px solid #dbdbdb;
  transition: .3s
}
.btn_light:hover {
  background-color: #101722;
  border-color: #101722;
  color: #fff;
  transition: .3s
}
.dropdown {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: opacity .3s ease-in;
  background-color: #fff;
  z-index: 10
}
.dropdown.active {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  opacity: 1;
  max-height: 15.625rem;
  margin-top: 1.25rem;
  transition: opacity .3s ease-in
}
.dropdown__block:not(:last-child) {
  padding-bottom: 1.5625rem;
  border-bottom: 1px solid #dbdbdb
}
.dropdown__block-link {
  display: flex;
  align-items: start;
  border-radius: .625rem;
  transition: .3s
}
.dropdown__title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: .3125rem;
  transition: .3s
}
.dropdown__subtitle {
  color: #272829
}
.dropdown__icon {
  border-radius: 3.125rem;
  border: 1px solid #dbdbdb;
  padding: .9375rem;
  line-height: 0;
  transition: .3s
}
.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap
}
.section__header-subtitle {
  color: #272829
}
.section__header-text {
  max-width: 34.0625rem
}
.arrows-slider {
  display: flex;
  align-items: center
}
.arrow-slider {
  cursor: pointer;
  border-radius: 3.125rem;
  border: 1px solid #dbdbdb;
  color: #dbdbdb;
  line-height: 0;
  transition: .3s
}
.arrow-slider:hover {
  color: #5bb318;
  border-color: #5bb318;
  transition: .3s
}
.rating {
  display: flex;
  align-items: center
}
.rating span {
  font-size: 1.25rem;
  font-weight: 700
}
.rating svg {
  margin-right: .625rem;
  color: #ffa800;
  line-height: 0;
  width: 1.5625rem;
  height: 1.5625rem
}
.input {
  margin-bottom: .3125rem;
  font-weight: 700;
  font-size: 1.125rem;
  width: 100%
}
.input:focus-within {
  outline: 0
}
.input__wrapper {
  border: 1px solid #dbdbdb;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1.5625rem;
  transition: .3s
}
.input__wrapper:focus-within .input__icon svg {
  color: #5bb318;
  transition: .3s
}
.input__wrapper:focus-within {
  border-color: #5bb318;
  transition: .3s
}
.input__wrapper:focus-within .input__label {
  color: #272829;
  transition: .3s
}
.input__label {
  color: #6b6b6b;
  transition: .3s;
  margin-bottom: .3125rem
}
.input__inner {
  padding-left: 1.5625rem;
  border-left: 1px solid #dbdbdb;
  width: 100%
}
.input__icon {
  line-height: 0
}
.input__icon svg {
  width: 1.875rem;
  height: 1.875rem;
  color: #272829;
  transition: .3s
}
.input__icon-eye {
  cursor: pointer;
  line-height: 0
}
.input__icon-eye svg {
  width: 1.5625rem;
  height: 1.5625rem;
  color: #c8c8c8
}
.header {
  position: relative;
  border-bottom: 1px solid #dbdbdb
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header__btns {
  display: flex;
  align-items: center;
  gap: 2.1875rem;
  font-weight: 700
}
.header__btns_mobile {
  display: none
}
.header__btn-signup {
  width: 11.25rem;
  padding: 1.125rem;
  background-color: #5bb318;
  color: #fff;
  border-radius: 10px;
  text-align: center
}
.footer__wrapper {
  background-color: #101722;
  color: #acacac;
  border-radius: 20px
}
.footer__logo-subtitle {
  margin-top: 1.25rem;
  max-width: 265px
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  gap: 55px;
  flex-wrap: wrap;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #fff
}
.footer__nav {
  display: flex;
  flex-wrap: wrap
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px
}
.footer__nav-item {
  transition: .3s
}
.footer__nav-item:hover {
  color: #fff;
  transition: .3s
}
.footer__nav-item_main {
  color: #fff;
  font-size: 1.125rem
}
.footer__copyright {
  text-align: center
}
.hero {
  display: flex;
  justify-content: space-between
}
.hero__inner {
  max-width: 43.4375rem
}
.hero__title {
  margin-bottom: 1.5625rem
}
.hero__btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap
}
.hero__image {
  z-index: -5;
  position: relative;
  overflow: hidden
}
.hero__image img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.service__block {
  border: 1px solid #dbdbdb;
  border-radius: .625rem;
  transition: .3s;
  overflow: hidden
}
.service__block:hover {
  border-color: #5bb318;
  transition: .3s
}
.service__block-image img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%
}
.service__block-title {
  margin-bottom: .3125rem
}
.service__block-subtitle {
  color: #272829;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #dbdbdb
}
.service__block-description {
  color: #272829
}
.service__block-btn {
  width: 100%
}
.service__block-btn:hover {
  background-color: #5bb318;
  border-color: #5bb318
}
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse
}
.about__image {
  position: relative
}
.about__image img {
  height: 38.4375rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: .625rem
}
.about__title {
  margin-bottom: 1.25rem
}
.about__subtitle {
  color: #272829
}
.about__description {
  display: flex;
  align-items: center;
  flex-wrap: wrap
}
.about__users {
  display: flex;
  align-items: center
}
.about__users img {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 6.25rem;
  border: 1px solid #fff
}
.about__users img:not(:first-child) {
  margin-left: -1.5625rem
}
.about__rating {
  display: flex;
  align-items: center;
  gap: .9375rem
}
.about__rating-title {
  color: #272829;
  font-size: 1.125rem;
  padding-left: .9375rem;
  border-left: 1px solid #dbdbdb
}
.about__btns {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  flex-wrap: wrap
}
.about__icon {
  position: absolute;
  right: 0;
  top: 40%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  display: inline-block;
  padding: 1.25rem;
  background-color: #fff;
  border: 1px dashed #5bb318;
  border-radius: 100px
}
.about__icon span {
  display: inline-block;
  line-height: 0;
  background-color: #5bb318;
  border-radius: 3.125rem
}
.about__icon svg {
  color: #fff
}
.sign-in {
  position: relative
}
.sign-in__inner {
  max-width: 470px
}
.sign-in__image {
  position: absolute;
  right: 0;
  top: 0
}
.sign-in__image img {
  width: 680px;
  height: 585px
}
.sign-in__form {
  margin-top: 2.8125rem;
  display: flex;
  flex-direction: column;
  gap: 35px
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:61.99875em) {
  .dropdown {
    position: absolute;
    top: 3.4375rem;
    left: 0;
    border-radius: .625rem;
    border: 1px solid #dbdbdb;
    background: #fff;
    padding: 1.5625rem;
    width: 32.8125rem;
    max-height: 0;
    padding: 0 1.5625rem;
    transition: max-height .3s ease-in,opacity .3s ease-in,padding .3s ease-in
  }
  .dropdown.active {
    max-height: 31.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    opacity: 1;
    padding: 1.5625rem;
    margin-top: 0;
    transition: max-height .3s ease-in,opacity .3s ease-in,padding .3s ease-in
  }
  .dropdown__block-link {
    padding-top: .9375rem;
    padding-right: .9375rem;
    padding-left: .9375rem;
    padding-bottom: .9375rem
  }
  .dropdown__block-link:hover {
    transition: .3s;
    background-color: #f9f9f9
  }
  .dropdown__block-link:hover .dropdown__title {
    color: #5bb318;
    transition: .3s
  }
  .dropdown__block-link:hover .dropdown__icon {
    background-color: #5bb318;
    border-color: #5bb318;
    color: #fff;
    transition: .3s
  }
}
@media (min-width:94.375em) {
  .menu__list {
    gap: 2.8125rem
  }
  .menu__item:not(:last-child) {
    padding-right: 2.8125rem
  }
  h1 {
    font-size: 4.5rem
  }
  h2 {
    font-size: 3.5rem
  }
  h4 {
    font-size: 1.875rem
  }
  .page {
    margin-top: 4.0625rem
  }
  .logo {
    height: 3.75rem
  }
  .btn {
    font-size: 1.125rem
  }
  .dropdown__block-link {
    gap: 1.5625rem
  }
  .dropdown__subtitle {
    font-size: 1rem
  }
  .dropdown__icon svg {
    width: 1.875rem
  }
  .dropdown__icon svg {
    height: 1.875rem
  }
  .section__header {
    margin-bottom: 3.125rem
  }
  .section__header {
    gap: 3.4375rem
  }
  .section__header-subtitle {
    font-size: 1.125rem
  }
  .section_offset {
    margin-top: 9.375rem
  }
  .arrows-slider {
    gap: 1.5625rem
  }
  .arrow-slider {
    padding: 1.5625rem
  }
  .arrow-slider svg {
    width: 1.875rem
  }
  .arrow-slider svg {
    height: 1.875rem
  }
  .header {
    padding-top: 2.1875rem
  }
  .header {
    padding-bottom: 2.1875rem
  }
  .header__btns {
    font-size: 1.125rem
  }
  .footer {
    margin-top: 9.375rem
  }
  .footer {
    padding-bottom: 2.8125rem
  }
  .footer__wrapper {
    padding: 2.8125rem
  }
  .footer__inner {
    margin-bottom: 2.5rem
  }
  .footer__nav {
    gap: 7.5rem
  }
  .hero {
    margin-top: 2.5rem
  }
  .hero {
    gap: 3.4375rem
  }
  .hero__inner {
    margin-top: 5rem
  }
  .hero__subtitle {
    margin-bottom: 2.5rem
  }
  .hero__subtitle {
    font-size: 1.25rem
  }
  .hero__btns {
    gap: 1.875rem
  }
  .hero__image {
    width: 48rem
  }
  .hero__image {
    height: 35.3125rem
  }
  .service__block-image img {
    height: 11.5625rem
  }
  .service__block-inner {
    padding: 1.5625rem
  }
  .service__block-subtitle {
    margin-bottom: 1.25rem
  }
  .service__block-description {
    margin-bottom: 1.25rem
  }
  .service__block-description {
    font-size: 1.125rem
  }
  .about {
    gap: 9.6875rem
  }
  .about__image img {
    width: 37.1875rem
  }
  .about__text {
    max-width: 42.1875rem
  }
  .about__subtitle {
    font-size: 1.125rem
  }
  .about__subtitle {
    margin-bottom: 3.125rem
  }
  .about__description {
    margin-bottom: 3.125rem
  }
  .about__description {
    gap: 2.5rem
  }
  .about__icon span {
    padding: 1.5625rem
  }
  .about__icon svg {
    width: 2.1875rem
  }
  .about__icon svg {
    height: 2.1875rem
  }
}
@media (max-width:62em) {
  .menu__list {
    gap: 1.875rem
  }
}
@media (max-width:48em) {
  .menu__item:not(:last-child) {
    padding-right: 1.5625rem
  }
  .hero {
    gap: .9375rem
  }
  .hero__image {
    width: 15.625rem
  }
  .hero__image {
    height: 24.375rem
  }
  .about {
    gap: 5rem
  }
  .about__image img {
    width: 12.5rem
  }
  .about__text {
    max-width: 27.8125rem
  }
  .about__icon span {
    padding: 1.25rem
  }
  .about__icon svg {
    width: 1.5625rem
  }
  .about__icon svg {
    height: 1.5625rem
  }
}
@media (max-width:20em) {
  h1 {
    font-size: 2.625rem
  }
  h2 {
    font-size: 2rem
  }
  h4 {
    font-size: 1.5rem
  }
  .page {
    margin-top: 2.8125rem
  }
  .logo {
    height: 3rem
  }
  .btn {
    font-size: 1rem
  }
  .dropdown__block-link {
    gap: .9375rem
  }
  .dropdown__subtitle {
    font-size: .875rem
  }
  .dropdown__icon svg {
    width: 1.25rem
  }
  .dropdown__icon svg {
    height: 1.25rem
  }
  .section__header {
    margin-bottom: 2.5rem
  }
  .section__header {
    gap: 1.5625rem
  }
  .section__header-subtitle {
    font-size: 1rem
  }
  .section_offset {
    margin-top: 5.3125rem
  }
  .arrows-slider {
    gap: 1.25rem
  }
  .arrow-slider {
    padding: 1.25rem
  }
  .arrow-slider svg {
    width: 1.5625rem
  }
  .arrow-slider svg {
    height: 1.5625rem
  }
  .header {
    padding-top: 1.875rem
  }
  .header {
    padding-bottom: 1.875rem
  }
  .header__btns {
    font-size: 1rem
  }
  .footer {
    margin-top: 5.3125rem
  }
  .footer {
    padding-bottom: 1.5625rem
  }
  .footer__wrapper {
    padding: 2.1875rem
  }
  .footer__inner {
    margin-bottom: 1.875rem
  }
  .footer__nav {
    gap: 3.125rem
  }
  .hero {
    margin-top: 2.8125rem
  }
  .hero__inner {
    margin-top: .0000000625rem
  }
  .hero__subtitle {
    margin-bottom: 1.5625rem
  }
  .hero__subtitle {
    font-size: 1rem
  }
  .hero__btns {
    gap: 1.25rem
  }
  .service__block-image img {
    height: 10.3125rem
  }
  .service__block-inner {
    padding: 1.25rem
  }
  .service__block-subtitle {
    margin-bottom: .9375rem
  }
  .service__block-description {
    margin-bottom: .9375rem
  }
  .service__block-description {
    font-size: 1rem
  }
  .about__subtitle {
    font-size: 1rem
  }
  .about__subtitle {
    margin-bottom: 2.5rem
  }
  .about__description {
    margin-bottom: 2.5rem
  }
  .about__description {
    gap: 2.1875rem
  }
}
@media (max-width:61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #fff;
    overflow: auto;
    padding: 1.875rem .9375rem 1.875rem .9375rem;
    transition: left .3s
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.875rem;
    padding-bottom: 1.875rem;
    border-bottom: 1px solid #dbdbdb
  }
  .menu__list {
    flex-direction: column;
    align-items: start
  }
  .menu__item {
    font-size: 1.25rem;
    width: 100%
  }
  .menu__item-title {
    display: flex;
    align-items: center;
    justify-content: space-between
  }
  .menu__item:not(:last-child) {
    padding-right: 0;
    border-right: none
  }
  .menu__item.active .menu__item-title {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #dbdbdb
  }
  .icon-menu {
    display: inline-block
  }
  .dropdown__block:not(:last-child) {
    padding-bottom: 0;
    border: none
  }
  .header__btns {
    display: none
  }
  .header__btns_mobile {
    margin-top: 2.8125rem;
    border-top: 1px solid #dbdbdb;
    padding-top: 1.5625rem;
    display: flex
  }
}
@media (max-width:47.99875em) {
  .hero__image {
    display: none
  }
  .about__image {
    width: 100%
  }
  .about__image img {
    height: 23.75rem;
    width: 100%
  }
  .about__text {
    max-width: 100%
  }
  .about__icon {
    top: 0;
    right: 35%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
  }
}
@media (max-width:29.99875em) {
  .btn {
    width: 100%
  }
  .header__btns_mobile {
    flex-direction: column-reverse;
    gap: 1.5625rem;
    align-items: start
  }
  .header__btn-signup {
    width: 100%
  }
  .header__btn-signin {
    width: 100%;
    text-align: center
  }
}
@media (min-width:62em)and (max-width:94.375em) {
  .menu__list {
    gap: clamp(1.875rem ,.0796332046rem + 2.8957528958vw ,2.8125rem)
  }
}
@media (min-width:48em)and (max-width:94.375em) {
  .menu__item:not(:last-child) {
    padding-right: clamp(1.5625rem ,.2686994609rem + 2.6954177898vw ,2.8125rem)
  }
  .hero {
    gap: clamp(.9375rem ,-1.6501010782rem + 5.3908355795vw ,3.4375rem)
  }
  .hero__image {
    width: clamp(15.625rem ,-17.8844339623rem + 69.8113207547vw ,48rem)
  }
  .hero__image {
    height: clamp(24.375rem ,13.054245283rem + 23.5849056604vw ,35.3125rem)
  }
  .about {
    gap: clamp(5rem ,.1482479784rem + 10.1078167116vw ,9.6875rem)
  }
  .about__image img {
    width: clamp(12.5rem ,-13.0525606469rem + 53.2345013477vw ,37.1875rem)
  }
  .about__text {
    max-width: clamp(27.8125rem ,12.9337938005rem + 30.9973045822vw ,42.1875rem)
  }
  .about__icon span {
    padding: clamp(1.25rem ,.9265498652rem + .6738544474vw ,1.5625rem)
  }
  .about__icon svg {
    width: clamp(1.5625rem ,.9155997305rem + 1.3477088949vw ,2.1875rem)
  }
  .about__icon svg {
    height: clamp(1.5625rem ,.9155997305rem + 1.3477088949vw ,2.1875rem)
  }
}
@media (min-width:20em)and (max-width:94.375em) {
  h1 {
    font-size: clamp(2.625rem ,2.1207983193rem + 2.5210084034vw ,4.5rem)
  }
  h2 {
    font-size: clamp(2rem ,1.5966386555rem + 2.0168067227vw ,3.5rem)
  }
  h4 {
    font-size: clamp(1.5rem ,1.3991596639rem + .5042016807vw ,1.875rem)
  }
  .page {
    margin-top: clamp(2.8125rem ,2.4763655462rem + 1.6806722689vw ,4.0625rem)
  }
  .logo {
    height: clamp(3rem ,2.7983193277rem + 1.0084033613vw ,3.75rem)
  }
  .btn {
    font-size: clamp(1rem ,.9663865546rem + .1680672269vw ,1.125rem)
  }
  .dropdown__block-link {
    gap: clamp(.9375rem ,.7694327731rem + .8403361345vw ,1.5625rem)
  }
  .dropdown__subtitle {
    font-size: clamp(.875rem ,.8413865546rem + .1680672269vw ,1rem)
  }
  .dropdown__icon svg {
    width: clamp(1.25rem ,1.0819327731rem + .8403361345vw ,1.875rem)
  }
  .dropdown__icon svg {
    height: clamp(1.25rem ,1.0819327731rem + .8403361345vw ,1.875rem)
  }
  .section__header {
    margin-bottom: clamp(2.5rem ,2.3319327731rem + .8403361345vw ,3.125rem)
  }
  .section__header {
    gap: clamp(1.5625rem ,1.0582983193rem + 2.5210084034vw ,3.4375rem)
  }
  .section__header-subtitle {
    font-size: clamp(1rem ,.9663865546rem + .1680672269vw ,1.125rem)
  }
  .section_offset {
    margin-top: clamp(5.3125rem ,4.2200630252rem + 5.4621848739vw ,9.375rem)
  }
  .arrows-slider {
    gap: clamp(1.25rem ,1.1659663866rem + .4201680672vw ,1.5625rem)
  }
  .arrow-slider {
    padding: clamp(1.25rem ,1.1659663866rem + .4201680672vw ,1.5625rem)
  }
  .arrow-slider svg {
    width: clamp(1.5625rem ,1.4784663866rem + .4201680672vw ,1.875rem)
  }
  .arrow-slider svg {
    height: clamp(1.5625rem ,1.4784663866rem + .4201680672vw ,1.875rem)
  }
  .header {
    padding-top: clamp(1.875rem ,1.7909663866rem + .4201680672vw ,2.1875rem)
  }
  .header {
    padding-bottom: clamp(1.875rem ,1.7909663866rem + .4201680672vw ,2.1875rem)
  }
  .header__btns {
    font-size: clamp(1rem ,.9663865546rem + .1680672269vw ,1.125rem)
  }
  .footer {
    margin-top: clamp(5.3125rem ,4.2200630252rem + 5.4621848739vw ,9.375rem)
  }
  .footer {
    padding-bottom: clamp(1.5625rem ,1.2263655462rem + 1.6806722689vw ,2.8125rem)
  }
  .footer__wrapper {
    padding: clamp(2.1875rem ,2.0194327731rem + .8403361345vw ,2.8125rem)
  }
  .footer__inner {
    margin-bottom: clamp(1.875rem ,1.7069327731rem + .8403361345vw ,2.5rem)
  }
  .footer__nav {
    gap: clamp(3.125rem ,1.9485294118rem + 5.8823529412vw ,7.5rem)
  }
  .hero {
    margin-top: clamp(2.5rem ,2.8965336134rem + -.4201680672vw ,2.8125rem)
  }
  .hero__inner {
    margin-top: clamp(.0000000625rem ,-1.3445377358rem + 6.7226889916vw ,5rem)
  }
  .hero__subtitle {
    margin-bottom: clamp(1.5625rem ,1.3103991597rem + 1.2605042017vw ,2.5rem)
  }
  .hero__subtitle {
    font-size: clamp(1rem ,.9327731092rem + .3361344538vw ,1.25rem)
  }
  .hero__btns {
    gap: clamp(1.25rem ,1.0819327731rem + .8403361345vw ,1.875rem)
  }
  .service__block-image img {
    height: clamp(10.3125rem ,9.9763655462rem + 1.6806722689vw ,11.5625rem)
  }
  .service__block-inner {
    padding: clamp(1.25rem ,1.1659663866rem + .4201680672vw ,1.5625rem)
  }
  .service__block-subtitle {
    margin-bottom: clamp(.9375rem ,.8534663866rem + .4201680672vw ,1.25rem)
  }
  .service__block-description {
    margin-bottom: clamp(.9375rem ,.8534663866rem + .4201680672vw ,1.25rem)
  }
  .service__block-description {
    font-size: clamp(1rem ,.9663865546rem + .1680672269vw ,1.125rem)
  }
  .about__subtitle {
    font-size: clamp(1rem ,.9663865546rem + .1680672269vw ,1.125rem)
  }
  .about__subtitle {
    margin-bottom: clamp(2.5rem ,2.3319327731rem + .8403361345vw ,3.125rem)
  }
  .about__description {
    margin-bottom: clamp(2.5rem ,2.3319327731rem + .8403361345vw ,3.125rem)
  }
  .about__description {
    gap: clamp(2.1875rem ,2.1034663866rem + .4201680672vw ,2.5rem)
  }
}